{
  "parentIdentifier": "ROOT",
  "name": "Lab Terminal",
  "protocol": "ssh",
  "parameters": {
    "hostname": "{{ student.vm_ip }}",
    "port": "22",
    "username": "{{ student.os_user }}",
    "password": "{{ student.os_password }}"
  }
}